{block content}

<h2 n:block=title>Aktuální výběrové řízení</h2>
<p n:if="$kolo">Právě probíhá {$kolo->kolo}. kolo VŘ ({$kolo->od|date:'j. n.'} - {$kolo->do|date:'j. n. Y'})</p>
{control content 'aktualni-vr'}

{if !empty($vr) && count($vr) > 0}
	<h3>Přehled přihlášek pro rok {$rok}</h3>
	<table class="table" id="tavr-table" style="width:100%;">
		<tr>
			<td>ID</td>
			<td>Kolo</td>
			<td>Datum</td>
			<td>Odd.</td>
			<td class="cols2">Druh závodu</td>
			<td>Prostor závodu</td>
			<td class="cols4">Popis terénu</td>
		</tr>
		{var $prihlasky_data = []}
		{var $prev_date}
		{var $odd_date = 0}
		{foreach $vr as $prihlaska}
			{if $prihlaska->centrum_zavodu_mapa && $prihlaska->prostor_zavodu_mapa}
				{var $prostor_zavodu = Nette\Utils\Json::decode($prihlaska->prostor_zavodu_mapa, 1)}
				{var $centrum_zavodu = Nette\Utils\Json::decode($prihlaska->centrum_zavodu_mapa, 1)}
				{var $prihlasky_data[] = ['id'=>$prihlaska->id,'druh_zavodu'=>$prihlaska->druh_zavodu,'centrum_zavodu'=>$centrum_zavodu,'prostor_zavodu'=>$prostor_zavodu]}
			{/if}

			{var $kolo = $prihlaska->ref('kola', 'kolo')->kolo}
			{var $termin = $prihlaska->ref('terminy', 'termin')->termin}
			{var $druh_zavodu = $prihlaska->ref('druhy', 'druh_zavodu')->druh_zkratka}

			{if $prev_date != $termin}
				{var $odd_date = $odd_date && 1 ? 0 : 1}
				{var $prev_date = $termin}
			{/if}

			{* tavr-pi-<id> = tabulka aktuálních VŘ - přihláška id - <id>*}
			<tr id="tavr-pi-{$prihlaska->id}" class="{$odd_date==1?'odd':'even'}-row" onclick="handleEntryClick({$prihlaska->id});" onmouseenter="handleEntryMouseEnter({$prihlaska->id});" onmouseleave="handleEntryMouseLeave();" style="cursor:default;">
				<td><a n:href="AktualniVr:detail id=>$prihlaska->id">#{$prihlaska->id|padLeft:4,'0'}</a></td>
				<td>{$kolo}.</td>
				<td>{$termin|date:'j.n.'}</td>
				<td>{$prihlaska->poradatel_zkratka}</td>
				<td class="event-type-{$prihlaska->druh_zavodu}">{$druh_zavodu}</td>
				<td title={$prihlaska->prostor_zavodu}>{$prihlaska->prostor_zavodu|truncate:30}</td>
				<td title={$prihlaska->popis_terenu}>{$prihlaska->popis_terenu|truncate:90}</td>
			</tr>
		{/foreach}
	</table>
	<fieldset>
		<legend>Mapa</legend>
		{if $prihlasky_data}
			<div id="mapa" style="width:100%; height:520px; margin:0px auto 5px;"></div>
			<script>
				const CUSTOM_COLORS = [
					"#f44336",
					"#f44336",
					"#f4511e",
					"#f4511e",
					"#f4511e",
					"#9c27b0",
					"#673ab7",
					"#673ab7",
					"#673ab7",
					"#ffb300",
					"#f4511e",
					"#f4511e",
					"#8bc34a",
					"#4caf50",
					"#fff",
					"#8bc34a",
					"#fff",
					"#03a9f4",
					"#f4511e",
					"#9c27b0",
					"#673ab7",
					"#673ab7",
					"#673ab7",
					"#f51d53",
					"#f51d53"
				];

				const entries = {$prihlasky_data};

				const map = mapyCZ();

				const entryItems = {};
				for (const entry of entries) {
					const marker = L.marker(entry['centrum_zavodu'], { icon: mapyCZMarkerRed }).addTo(map);
					marker.on('click', () => {
						handleEntryClick(entry.id);
					})

					const geometry = entry['prostor_zavodu'].map(point => [point[0], point[1]]);
					const color = entry['druh_zavodu'] <= CUSTOM_COLORS.length ? CUSTOM_COLORS[entry['druh_zavodu'] - 1] : "#1cc0e3";
					const polygon = L.polygon(geometry, { color: color, opacity: .5, width: 3 }).addTo(map);
					polygon.on('click', () => {
						handleEntryClick(entry.id);
					})

					entryItems[entry.id] = { marker, polygon };
				}

				let clickedEntry = { id: null };
				let hoveredEntry = { id: null };
				function handleEntryClick(pid) {
					if (clickedEntry.id !== null) {
						entryItems[clickedEntry.id].marker.setIcon(clickedEntry.originalIcon);
						entryItems[clickedEntry.id].polygon.setStyle({ color: clickedEntry.originalColor });
					}
					if (hoveredEntry.id !== null) {
						entryItems[hoveredEntry.id].marker.setIcon(hoveredEntry.originalIcon);
						entryItems[hoveredEntry.id].polygon.setStyle({ color: hoveredEntry.originalColor });
					}

					clickedEntry = {
						id: pid,
						originalIcon: entryItems[pid].marker.options.icon,
						originalColor: entryItems[pid].polygon.options.color
					};

					entryItems[pid].marker.setIcon(mapyCZMarkerYellow);
					entryItems[pid].polygon.setStyle({ color: '#faa914' });
					map.fitBounds(entryItems[pid].polygon.getBounds());

					const pHighlighted = document.querySelector('.tavr-p-highlighted');
					if (pHighlighted !== null) pHighlighted.classList.remove('tavr-p-highlighted');
					document.querySelector('#tavr-pi-'+pid).classList.remove('tavr-p-highlighted2')
					document.querySelector('#tavr-pi-'+pid).classList.add('tavr-p-highlighted');
				}

				function handleEntryMouseEnter(pid) {
					if (pid === clickedEntry.id) return;

					hoveredEntry = {
						id: pid,
						originalIcon: entryItems[pid].marker.options.icon,
						originalColor: entryItems[pid].polygon.options.color
					};

					entryItems[pid].marker.setIcon(mapyCZMarkerBlue);
					entryItems[pid].polygon.setStyle({ color: '#1bb9f5' });
					document.querySelector('#tavr-pi-'+pid).classList.add('tavr-p-highlighted2');
				}

				function handleEntryMouseLeave() {
					if (hoveredEntry.id === clickedEntry.id) return;

					entryItems[hoveredEntry.id].marker.setIcon(hoveredEntry.originalIcon);
					entryItems[hoveredEntry.id].polygon.setStyle({ color: hoveredEntry.originalColor });
					const pHighlighted = document.querySelector('.tavr-p-highlighted2');
					if (pHighlighted !== null) pHighlighted.classList.remove('tavr-p-highlighted2');

					hoveredEntry = { id: null };
				}
			</script>
		{else}
			<div class="flashes">
				<div class="flash error">Mapa prostoru není k dispozici.</div>
			</div>
		{/if}
	</fieldset>
{elseif $entries_current_round}
	<h3>Přehled přihlášek pro aktuální kolo</h3>
	<table id="tavr-table" class="table" style="max-width:24em;width:100%;" n:if="$entries_current_round">
		<thead>
			<tr>
				<th>oddíl</th>
				<th>datum</th>
				<th>druh</th>
			</tr>
		</thead>
		<tbody>
			{var $prev_date}
			{var $odd_date = 0}
			{foreach $entries_current_round as $entry}
				{if $prev_date != $entry['termin']}
					{var $odd_date = $odd_date && 1 ? 0 : 1}
					{var $prev_date = $entry['termin']}
				{/if}
				<tr class="{$odd_date==1?'odd':'even'}-row{if $entry['stav'] == 'draft'} soft{/if}{if $entry['oris_id'] !== NULL} oris-confirmed{/if}">
					<td>{$entry['poradatel_zkratka']}</td>
					<td>{$entry['termin']|date:"j. n."}</td>
					<td class="{if $entry['stav'] != 'draft'}event-type-{$entry['druh_id']}{/if}">{$entry['druh']}</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
{else}
	<h3>Přehled přihlášek pro rok {$rok}</h3>
	<div class="flash info">Přehled přihlášek bude zveřejněn po ukončení kola</div>
{/if}

{/block}
