{block content}
<div class="breadcumb">
	<span class="breadcumb-link"><a n:href="AktualniVr:">&larr; Aktuální VŘ</a></span>
	<span class="breadcumb-separator">|</span>
	<span class="breadcumb-link">Náhled přihlášky #{$prihlaska['id']|padLeft:4,'0'}</span>
</div>

<h2 n:block=title>
	{$druh->druh_zkratka}, <span class="date">{$termin->termin|niceDate}</span> ({$prihlaska['poradatel_zkratka']})
</h2>

<h3 id="toc-zakladni-udaje">Základní údaje a informace o přihlášce</h3>
<table class="table">
	<tr>
		<td class="cols3">Identifikační číslo</td>
		<td class="cols6">{$prihlaska['id']}</td>
	</tr>
	<tr>
		{var $kolo = $prihlaska->ref('kola', 'kolo')}
		<td>Kolo VŘ</td>
		<td>{$kolo->rok} - <b>{$kolo->kolo}.&nbsp;kolo</b></td>
	</tr>
	<tr>
		<td>Druh závodu</td>
		<td><b>{$druh->druh}</b></td>
	</tr>
	<tr>
		<td>Termín</td>
		<td><b>{$termin->termin|niceDate}</b></td>
	</tr>
	<tr>
		<td>Pořadatel</td>
		<td>{$prihlaska['poradatel']} ({$prihlaska['poradatel_zkratka']})</td>
	</tr>
	<tr n:if="$prihlaska[dalsi_poradatele]">
		<td>Další pořadatelé</td>
		<td>{$prihlaska['dalsi_poradatele']}</td>
	</tr>
</table>


<h3 id="toc-prostor-a-centrum-závodu">Prostor a centrum závodu</h3>
<table class="table">
	<tr>
		<td class="cols3">Prostor závodu</td>
		<td class="cols6">{$prihlaska['prostor_zavodu']}</td>
	</tr>
	<tr>
		<td>Popis terénu</td>
		<td>{$prihlaska['popis_terenu']}</td>
	</tr>
</table>

<h3 id="toc-mapa-prostoru">Mapa prostoru</h3>
{if $centrum_zavodu_mapa && $prostor_zavodu_mapa}
	<div id="mapa" style="width:100%; height:520px; margin:0px auto 20px;"></div>
	<script>
		entryMap({$centrum_zavodu_mapa}, {$prostor_zavodu_mapa});
	</script>
{else}
	<div class="flashes">
		<div class="flash error">Mapa prostoru není k dispozici.</div>
	</div>
{/if}
{/block}
