{block content}
	<div class="breadcumb">
		<span class="breadcumb-link"><a n:href=":Admin:Dashboard:">Administrace</a></span>
		<span class="breadcumb-separator">&gt;</span>
		<span class="breadcumb-link"><a n:href=":Admin:Prihlasky:">Kola</a></span>
	</div>
{/block}

{block scripts}
	{include parent}
	{dump $prihlasky}
{/block}
