#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days


tracy:
	email: david.pustai@gmail.com
	fromEmail: 'tracy@csos <noreply@orientacnisporty.cz>'


services:
	- App\Model\SessionControler
	- App\Model\UserManager
	- App\Model\PasswordRequests
	- App\Model\Authorizator
	- App\Model\KolaRepository
	- App\Model\PrihlaskyRepository
	- App\Model\TerminyRepository
	- App\Model\DruhyRepository
	- App\Model\UsersRepository
	- App\Model\ContentRepository
	- App\Model\AccessControler
	- App\Components\IContentControl
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
