{block content}

<h2 n:block=title>Kontakt</h2>
{control content 'contact'}

{* <p>V případě problémů nebo nejasností nás kontaktujte na e-mailu <a href="mailto:vyberoverizeni@orientacnibeh.cz" target="_blank">vyberoverizeni@orientacnibeh.cz</a>.</p> *}

