{block mapModal}

<div id="map-modal" style="width:910px; ">
	<div id="mapa" style="width:900px; height:520px; margin:0px auto 5px;"></div>

	<div class="" style="display:block; padding:20px 30px 25px 20px; margin:0 auto; background-color: #F2F2F2;">
		<select onchange="setMapAction(this.value)">
			<option value="none">Vyberte akci</option>
			<option value="drawRaceArea">Zakreslit prostor závodu</option>
			<option value="drawCentre">Vyznačit centrum závodu</option>
		</select>
		<span id="drawRaceArea-options">
        	<input type="button" onclick="stepBack()" class="btn small" value="Smazat poslední bod">
        	<input type="button" onclick="eraseAll()" class="btn small" value="Vymazat vše">
    	</span>
		<input type="button" onclick="saveData()" id="map-save-btn" class="btn small" value="Uložit data" style="float:right;" disabled>
	</div>
</div>

<script src="{$basePath}/js/Leaflet.Editable.js"></script>
<script>
	let action = 'none';
	let centerMarker = null;
	let areaPolygon = null;

	const map = mapyCZ({
		center: {$centrum_zavodu_mapa ? $centrum_zavodu_mapa : [49.83, 15.45]},
		zoom: 10,
		editable: true
	});

	map.on('click', handleMapClick);

	{if $centrum_zavodu_mapa}
		centerMarker = L.marker({$centrum_zavodu_mapa}, { draggable: true, icon: mapyCZMarkerBlue }).addTo(map);
	{/if}

	{if $prostor_zavodu_mapa}
		areaPolygon = L.polygon({$prostor_zavodu_mapa}.map(point => [point[0], point[1]]), { color: "#f5270a", width: 3 }).addTo(map);
	{/if}

	function handleMapClick(e) {
		if (action === 'drawCentre') {
			if (centerMarker !== null) {
				map.removeLayer(centerMarker);
			}
			centerMarker = L.marker(e.latlng, { draggable: true, icon: mapyCZMarkerBlue }).addTo(map);
		}

		enableSaveBtn();
	}

	function stepBack() {
		if (!map.editTools._drawingEditor) return;
		map.editTools._drawingEditor.pop();
	}

	function eraseAll() {
		if (window.confirm('Určitě chcete smazat všechny body?')) {
			if (areaPolygon !== null) {
				map.removeLayer(areaPolygon);
				areaPolygon = null;
				areaPolygon = map.editTools.startPolygon();
			}
			enableSaveBtn();
		}

	}

	function setMapAction(newAction) {
		action = newAction ?? 'none';

		if (action === 'drawRaceArea') {
			if (areaPolygon === null) {
				areaPolygon = map.editTools.startPolygon();
			}
			areaPolygon.enableEdit();
		} else {
			if (areaPolygon !== null) {
				areaPolygon.disableEdit();
				if (areaPolygon.getLatLngs()[0].length <= 2) {
					map.removeLayer(areaPolygon);
					areaPolygon = null;
				}
			}
		}

		showOptions();
	}

	function setPreview() {
		var img_link = 'https://maps.googleapis.com/maps/api/staticmap?size=320x200&markers=color:0x226CDD|size:tiny|' + centerMarker.getLatLng().lat + ',' + centerMarker.getLatLng().lng + '&path=fillcolor:0x22C1DD44|weight:1' + areaPolygon.getLatLngs()[0].map(latlng => latlng.lat + ',' + latlng.lng).join('|');
		$('#map-preview').attr('src', img_link);
	}

	function showOptions() {
		if (action === 'drawRaceArea') {
			$('#drawRaceArea-options').show();
		} else {
			$('#drawRaceArea-options').hide();
		}
	}

	function enableSaveBtn() {
		if (centerMarker !== null && areaPolygon !== null) {
			$('#map-save-btn').removeAttr('disabled');
		} else {
			$('#map-save-btn').attr('disabled','disabled');
		}
	}

	function saveData() {
		if (centerMarker !== null && areaPolygon !== null) {
			$.fancybox.showLoading();
			$.post({link updateCoords!}, {
				'centrum_zavodu': [centerMarker.getLatLng().lat, centerMarker.getLatLng().lng],
				'prostor_zavodu': areaPolygon.getLatLngs()[0].map(latlng => [latlng.lat, latlng.lng])
			}, function( data ) {
				setPreview();
				$.fancybox.hideLoading();
				$.fancybox.close();
			});
		} else {
			alert('Zakreslete centrum a prostor závodu.');
		}
	}

	{if $centrum_zavodu_mapa && $prostor_zavodu_mapa}
		setPreview();
	{/if}

	showOptions();
	enableSaveBtn();
</script>
{/block}
