{block content}

<h2>Obnova hesla</h2>
{if !$proceeded}
{control addRequestForm}
{else}
{control changePassForm}
{/if}


<p>&nbsp;</p>
<p>Vrátit se na <a n:href="Sign:In">přihlašovací formulář</a>.</p>