{block content}
<h2>Přihlásit se</h2>

{control signInForm}

<p>&nbsp;</p>
<p>Nepamatujete si heslo? Můžete si ho <a n:href="User:PasswordRequest">nechat obnovit</a>.</p>

{* or use {include '../components/form.latte', form => signInForm} *}
